*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans',sans-serif;
}
.navbar{
    background-color: #131313 ;
    font-size: 1.2rem;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;/*this ensures that our navbar will be always in top wherever i go in the page */
    
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text; /*-webkit-background-clip and -moz-background-clip: These properties determine how far the background of an element extends. When set to text, the background only appears where the text is, rather than behind the entire element. This creates a cool effect where the background only shows within the contours of the text.*/
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent;/* -webkit-text-fill-color and -moz-text-fill-color: These properties specify the color of the text. When set to transparent, it makes the text itself transparent, revealing whatever background or content lies behind it.*/
    -moz-text-fill-color: transparent;
    /* However, it's worth noting that the -webkit- and -moz- prefixes are vendor prefixes, used for compatibility with different web browsers (Webkit-based browsers like Safari and Chrome, and Mozilla-based browsers like Firefox, respectively). Depending on the browser support needed, you might need to include both versions for compatibility.*/
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;  
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {

    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}
